<!DOCTPYE html>
{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
<h1>Welcome to a general forum!</h1> 
<h2>Here are all of the discussion areas:</h2>
Last message at: {{ last_message[0] }}, total of {{ total_messages[0] }} messages sent and {{ total_threads[0] }} threads started!<br>
{% for area in areas %}
<a href="/area/{{ area[0] }}"">{{ area[1] }}</a><br>
{{ area[3] }} threads, {{ area[2] }} messages
<hr>
{% endfor %}
<h1>Active threads: </h1>
<hr>
{% for thread in threads %}
<h2><a href="/area/{{ thread[3] }}/{{ thread[0] }}">{{ thread[1] }}</a></h2>
Last message at: {{ thread[5] }} in <a href="/area/{{ thread[3] }}">{{ thread[4] }}</a><hr>
{% endfor %}
{% endblock %}

