<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{ info[0] }}{% endblock %}
{% block content %}
<a href="/area/{{ info[5] }}">{{ info[6] }}</a>
<h1>{{ info[0] }}</h1>
{{ info[1] }}<br>
Posted by <a href="/profile/{{ info[4] }}">{{ info[2] }}</a>, at {{ info[3] }}
<hr>
{% for content in contents %}
<a href="/profile/{{ content[3] }}">{{ content[1] }}</a> at {{ content[2] }}<br>
{{ content[0] }}
<hr>
{% endfor %}
{% if session.username %}
<form action="/reply" method="POST">
    Reply to thread (max 1000 characters): <br>
    <textarea name="message" rows="5" cols="40"></textarea><br>
    <input type="submit" value="Reply">
    <input type="hidden" name="thread_id" value="{{ thread_id }}">
    <input type="hidden" name="area_id" value="{{ info[5] }}">
</form>
{% else %}
You need to log in to reply!
{% endif %}
{% endblock %}